* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: rgba(255, 166, 0, 0.472);
    background-image: url("/img/vietnams-bays\.jpeg"); 
    background-position: center;
    background-size: cover;
    min-height: 100vh;
   
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h1 a:hover {
    text-decoration: none;
    margin-top: 20px;
}

h2{
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: xx-large;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li:not(:last-child) {
    margin-right: 1rem;
}

nav a {
    font-size: 1rem;
    color: #333;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero h3 {
    font-size: 2rem;
    text-align: center;
}

.hero h4 {
    font-size: 1.5rem;
    text-align: center;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px;
    border-color: white;
}

.btn {
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: 1px;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
    height: 15px;
    width: fit-content;
    margin: 5px;
}

.btn:hover {
    background-color: rgba(100, 205, 251, 0.3);
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: transparent;
    width: calc(100vw - 1rem);

}

footer * {
    color: #fff;
}

footer ul {
    justify-content: center;
    color: #fff;

}

footer a {
    color: #fff;

}

footer h2 {
    font-size: x-large;
}

#image {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    margin: auto;
    padding: 20px;

  
}

.img-container {
    text-shadow: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    backdrop-filter: blur(10px);
    background-color: rgba(69, 71, 72, 0.3);
    border-radius: 10px;
    max-width: 100vw;
    margin: 20px 100px;
    padding: 20px 0px;
}

.content {
    margin: 10px;
}

section {
    margin: 0px 500px;
}




