<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'dep or die'}) %>
    <link rel="stylesheet" href="/styles/404.css">
</head>

<body>
    <div class="glassy">
        <h1>Page Not Found</h1>
        <p>Sorry, the page you're looking for cannot be found.</p>
        <a href="/">Go to the Dep Homepage</a>
    </div>
</body>

</html>