<footer>
    <h2>&copy; You're on đẹp's List </h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/companies">đẹp's List</a></li>
            <li><a href="/companies/new">Add a New Fave</a></li>
        </ul>
    </nav>
</footer>