<header>
    <!-- <h2>Explore đẹp's List:</h2> -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/companies">Companies</output></a></li>
            <li><a href="/companies/new">Add a New Fave</a></li>
            <li><a href="#">My đẹp Stars</a></li>
        </ul>
    </nav>
</header>