<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About dep`}) %>
    <link rel="stylesheet" href="/styles/about.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;500&display=swap');
        </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4><i>We're on a mission to share the beauty of Vietnamese culture to those that seek it.</i></h4>
        </section>

        <div class="content">
        <section>
            <h2>Our Mission</h2>
            <p>Most people know of Vietnam and it's culture through the legendary Anthony Bourdain. And who could forget his infamous meal of Bún Chả with president Barack Obama. What people have a harder time understanding, is Vietnam's rich history. It's a small S shaped country bordered one half by ocean and one half by neighboring countries with it's own rich cultures. Through french colonialism, rich jungles, tropical weather, and the influence of it's neighbors, Vietnam's culture is a unique medly of it's traditional values and the beautiful influence of the cultures that have graced it's lands over the years. We hope to share it's food, it's people, and the beauty that lives in it's culture with the world. Think of us as your Vietnamese neighbor, if you don't already have one that is. 
                <br>
                <br>

                So what does đẹp even mean? Well, like Vietnam, it holds a medley of meanings. 'Dep' is short for depanneur in Canadian French. Which simply means convenience store. In Vietnamese, 'đẹp' means beautiful. And like Vietnam, we wanted a brand name that encompasses something that includes our culture and it's French influence instead of running away from it. It's ever present in Vietnam's cuisine, language, and it's people if you look closely. We hope you find something you love here, but in the meantime? Welcome, please make yourself at home!
               </p>
         
        </section>
    </div>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>