<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About dep`}) %>
    <link rel="stylesheet" href="/styles/home.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;500&display=swap');
        </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4><i>We're on a mission to share the beauty of Vietnamese culture to those that seek it.</i></h4>
        </section>

        <section class="content">
            <h2>Our Mission</h2>
            <p>dep is a non-profit organization...
               </p>
         
            <h2>Our Values</h2>
            <ul>
                <li>Responsibility: 
                    care.
                </li>
                <li>Integrity: 
                </li>
                <li>Collaboration: 
                </li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>